.application__contents {
  display: flex;
  cursor: pointer;
}

.application__content {
  margin: 5px;
  display: flex;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.application__content > img {
  height: 30px;
  border-radius: 5px;
}

.application__contentTitle {
  margin-left: 10px;
}

.application__contentTitle > h5 {
  color: rgb(70, 68, 68);
}

.application__contentTitle > p {
  color: gray;
  font-size: small;
}
